.bold {
  font-weight: bold;
}

#map-canvas {
  margin: 1rem 0;
}

.ignite .navbar {
  background-color: #428BCA;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.ignite .navbar li.active {
  background-color: #428bca;
}

.ignite .navbar-inverse {
  border-color: blue;
}

.ignite .navbar-inverse .navbar-nav>li>a {
  color: #FFF;
}

.ignite .navbar-inverse li.active a {
  background-color: #2e6ca2;
}

.ignite .navbar-inverse .navbar-nav>li>a:hover {
  background-color: #5b9ad1;
}

.ignite .navbar-inverse .navbar-nav>li.active>a:hover {
  background-color: #2e6ca2;
}

.logo-container {
  margin: 1rem 0;
}

.logo-link:hover {
  opacity: 0.7;
}